.body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  font-weight: normal;
}

.container {
  background-color: rgb(235, 235, 235);
}

.my-cv {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin: auto;
  background-color: rgb(235, 235, 235);
}

.block-my-avatar {
  display: flex;
  height: 200px;
  width: 25%;
}

.avatar {
  width: 160px;
  box-shadow: 4px 4px 14px rgb(27, 36, 44);
  border-radius: 20px;
}

.about-me {
  display: flex;
  margin: 28px 0 20px 7px;
}

.my-info {
  width: 55%;
  margin-left: 10px;
}

.my-info h2 {
  margin: 20px 0px 7px 0px;
  font-style: oblique;
}

.my-info h1 {
  font-style: oblique;
  margin: 15px 0px 7px 0;
}

.my-info p {
  font-style: italic;
  margin: 2px 0;
  color: rgb(255, 66, 66);
  font-weight: 700;
  text-decoration-line: underline;
  text-shadow: 4px 4px 10px rgb(255, 118, 118);
  word-spacing: 2px;
  letter-spacing: 2px;
}

.my-info a {
  color: black;
  text-decoration-line: none;
}

.my-info a:hover {
  color: rgb(5, 5, 135);
  text-shadow: 4px 4px 5px rgb(133, 135, 230);
}

.hobby-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(207, 207, 255);
  border-radius: 20px;
  border: 1px solid rgb(0, 187, 255);
  margin-bottom: 20px;
  padding: 0 20px 20px 20px;
}

.images-container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: fit-content;
  row-gap: 10px;
}

.image-container {
  display: flex;
  position: relative;
  height: 150px;
  overflow: hidden;
}

.bold-hobby {
  display: flex;
  justify-content: center;
}

.image-container:nth-child(odd) {
  margin-right: 10px;
}

.image-container img {
  width: 115%;
  transform: translate(-11%, -16%);
  margin: auto;
}

.paragraph-hobby {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  z-index: 1;
  left: 10%;
  top: 100%;
  text-align: center;
  width: 85%;
  color: rgb(92, 0, 0);
  font-size: 45px;
  font-weight: bolder;
  transition: 0.5s;
}

.image-container:hover .paragraph-hobby {
  top: 0;
}

.about-work {
  background-color: rgb(227, 255, 252);
  border-radius: 20px;
  border: 1px solid rgb(0, 187, 255);
  padding-left: 30px;
  margin-bottom: 20px;
}

.about-work h2 {
  margin: 0;
  padding-top: 20px;
}

.about-work td {
  padding: 5px 0;
}

.table {
  width: 100%;
  padding: 7px 0 7px 20px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  color: rgb(49, 49, 49);
}

.my-videos {
  border-radius: 20px;
  background-color: rgb(255, 180, 180);
  padding-left: 30px;
  padding-bottom: 7px;
  margin-bottom: 20px;
}

.my-videos h2 {
  margin: 0;
  padding-top: 20px;
}

.bottom-line {
  margin: 0 50px 0 20px;
  padding: 5px 0 5px 0;
}

.bottom-line:nth-child(2),
.bottom-line:nth-child(3) {
  border-bottom: 1px solid rgb(51, 103, 107);
}

.my-videos a {
  color: black;
  text-decoration-line: none;
}

.my-videos a:hover {
  color: red;
  font-weight: bold;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact h2 {
  margin: 0 0 10px 0;
  text-align: center;
  color: rgb(51, 67, 82);
  text-shadow: 4px 4px 10px rgb(36, 47, 56);
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input,
textarea {
  background-color: rgb(234, 255, 252);
  margin: 3px 20px 7px 20px;
  padding-left: 15px;
  border: none;
  outline-style: none;
  border-radius: 20px;
  font-weight: 700;
}

.form-group input {
  height: 30px;
}

.form-group textarea::placeholder {
  padding-top: 7px;
}

.form-group textarea {
  resize: none;
}

.send-contact {
  margin-bottom: 30px;
  height: 30px;
  width: 80px;
  border-radius: 10px;
  border: 2px solid rgb(148, 148, 148);
  color: rgb(2, 59, 80);
  font-weight: bolder;
  font-size: 20px;
}

.send-contact:hover {
  cursor: pointer;
}

@media (max-width: 400px) {
  .block-my-avatar {
    width: auto;
  }
}